<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="nav">
		<div class="left">
			<div class="floating-button">
				<button id="toggle">
					<img th:src="@{/assets/toggle.svg}" alt="Toggle">
				</button>
			</div>

			<div class="input-container">
				<input type="text" placeholder="Pesquisar estágios ou projetos...">
				<img th:src="@{/assets/search.svg}" alt="Pesquisar">
			</div>
		</div>

		<div class="right">
			<select>
				<option disabled selected>+</option>
				<option>Professor(a)</option>
				<option>Coordenador(a)</option>
			</select>

			<div class="nav-logo">
				<img th:src="@{/assets/Logo.png}" alt="Logo">
			</div>
		</div>
	</div>
</body>
</html>