<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fragments/ToggleBar</title>
</head>
<body>

	<div th:fragment="toggle-bar">
		
		<div class="toggle-disable">
			<div class="toggle-content">
				<img id="close" th:src="@{/assets/bi_arrow-left.svg}" alt="Close">
				<div class="anchor">
					<img th:src="@{/assets/perfil.svg}" alt="Perfil"> <a
						href="/perfil">Perfil</a>
				</div>
				<div class="anchor">
					<img th:src="@{/assets/documentos.svg}" alt="Documentos"> <a
						href="/documentos">Documentos</a>
				</div>
				<div class="anchor">
					<img th:src="@{/assets/bancas.svg}" alt="Bancas"> <a
						href="/bancas">Bancas</a>
				</div>
				<div class="anchor">
					<img th:src="@{/assets/certificados.svg}" alt="Certificados">

					<a href="/certificados">Certificados</a>
				</div>
				<div class="anchor">
					<img th:src="@{/assets/sair.svg}" alt="Sair"> <a
						href="/logout">Sair</a>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>