<!DOCTYPE html>s
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova Senha</title>
    <link rel="stylesheet" th:href="@{/css/NovaSenha/style.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
</head>
<body>
	<div class="container">
		<div class="content">
			<h2 class="titulo">DIGITE O E-MAIL ASSOCIADO A CONTA</h2>
			<div class="form">
				<form>
					<h6 class="senha">Nova Senha</h6>
					<input type="text" placeholder="">

					<h6 class="senha">Confirmar Senha</h6>
					<input type="text" placeholder="">
				</form>
			</div>
			<button class="btn">SALVAR</button>
			<a href="#" class="voltar">⟵ VOLTAR</a>
		</div>
	</div>
</body>
</html>