<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/Login/style.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
</head>
<body>
	<div class="container">
		<div class="content login">
			<div class="first-column">
				<img th:src="@{/assets/Logo.png}" alt="Logo" class="logo">
			</div>

			<div class="second-column">
				<h2 class="titulo">LOGIN</h2>
				<p th:if="${error}" th:text="${error}">Usuário ou senha incorretos</p>
				
				<form class="form" th:action="@{/}" th:method="POST">
					<label class="label-input"> 
						<i class="fas fa-user"></i> 
						<input name="username" type="text" placeholder="Usuário" required>
					</label> 
					<label class="label-input"> 
						<i class="fas fa-lock icon-modify"></i> 
						<input name="password" type="password" placeholder="Senha" required>
					</label>
					<label class="label-input"> 
						<i class="fas fa-lock icon-modify"></i> 
						<input name="passwordConfirm" type="password" placeholder="Confimar senha" required>
					</label>

					<button type="submit" class="btn">ENTRAR</button>
					<a th:href="@{/resgatar-senha}" class="senha">Esqueceu a senha ou Usuário?</a> 
					<a th:href="@{/registration}" class="cadastro">Crie sua conta agora ⟶</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>